@font-face {
    font-family: Montserrat;
    src: url(css/fonts/montserret.ttf);
}

body {
    font-family: 'Montserrat';
    font-size: 1.5em;
}

.section-head {
    font-size: 1.6em;
}

#woof {
    margin-bottom: -10px;
}

p {
    font-size: 1.3em;
}
